@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');

:root {
    --slate: #35605a;
    --green: #002517;
    --light-color: #666;
    --yellow: #E88321;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .1);
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color: var(--green);
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--green);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--green);
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btn:hover {
    background: var(--slate);
}

#backToTopButton {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 99;
    margin-top: 1rem;
    padding: .8rem 3rem;
    color: white;
    background-color: var(--slate);
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 15rem;
}

#backToTopButton:hover {
    background-color: var(--yellow);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    z-index: 2;
    background: #fff;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--green);
    font-weight: bold;
}

.header .logo span {
    color: var(--slate);
}

.header .logo:hover {
    color: var(--slate);
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--green);
}

.header .navbar a:hover {
    color: var(--slate);
}

#login-btn .btn {
    margin-top: 0;
}

#login-btn i {
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
}

.header.active {
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--light-color);
    display: none;
}

.login-form-container {
    position: fixed;
    top: -105%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    z-index: 10000;
}

.login-form-container.active {
    top: 0;
}

.login-form-container form {
    margin: 2rem;
    text-align: center;
    padding: 2rem;
    width: 40rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background: #fff;
}

.login-form-container form .buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login-form-container form .btn {
    display: block;
    width: 100%;
    margin: .5rem 0;
}

.login-form-container form .box {
    margin: .7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color: var(--green);
    text-transform: none;
    border: var(--border);
    padding: 1rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.login-form-container form p a {
    color: var(--slate);
    text-decoration: underline;
}

.login-form-container form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--green);
    text-transform: uppercase;
}

.login-form-container #close-login-form {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--green);
    cursor: pointer;
}

.home {
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h3 {
    color: var(--green);
    font-size: 4.5vw;
    text-transform: uppercase;
}

.home img {
    width: 100%;
    margin: 1rem 0;
}

.contactsb {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
    box-shadow: var(--box-shadow)
}

.contactsb .header a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #002517;
    display: block;
    transition: 0.3s;
}

.contactsb .header a:hover {
    color: #35605A;
}

.contactsb .header .close {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 20px;
    margin-bottom: 20px;
}

#contact {
    cursor: pointer;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.contactsb .header {
    position: absolute;
    box-shadow: var(--box-shadow);
    margin-top: 0px;
    top: 0;
    max-height: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contactsb .header h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.9rem;
    color: #002517;
}

.contactsb .contactform {
    position: absolute;
    background-image: url(/image/backgrounds/contactform\ bg.jpg);
    margin-top: 3rem;
    margin-left: 1.3rem;
    margin-right: 1.5rem;
    max-height: 20rem;
    height: 100%;
    max-width: 32.55rem;
    width: 100%;
    background-size: cover;
    box-shadow: var(--box-shadow);

}

.contactsb .contactform h2 {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2.5rem;
    color: black;
    font-family: 'Unbounded', sans-serif;
}

.contactsb .contact-map {
    position: absolute;
    background-image: url(/image/backgrounds/mapsbg.jpg);
    margin-top: 26rem;
    margin-left: 1.3rem;
    margin-right: 1.5rem;
    max-height: 20rem;
    height: 100%;
    max-width: 32.55rem;
    width: 100%;
    background-size: cover;
    box-shadow: var(--box-shadow);
}

.contactsb .contact-map h2 {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2.5rem;
    color: black;
    font-family: 'Unbounded', sans-serif;
}

.contactsb .smcards {
    width: 33rem;
    height: 254px;
    border-radius: 4px;
    color: #eee;
    display: flex;
    gap: 5px;
    padding: .4em;
    margin-top: 49rem;
    margin-left: 1.3rem;
}

.contactsb .smcards p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: none;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsb .smcards :hover {
    flex: 4;
}

.contactsb .smcards p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: black;
    font-family: 'Unbounded', sans-serif;
    letter-spacing: .1em;
    font-size: 2rem;
}

.contactsb .smcards p:hover span {
    transform: rotate(0);
}

.contactsb .HOO {
    position: absolute;
    background-color: white;
    margin-top: 3rem;
    margin-left: 1.3rem;
    margin-right: 1.5rem;
    max-height: 23rem;
    height: 100%;
    max-width: 32.55rem;
    width: 100%;
    background-size: cover;
    box-shadow: var(--box-shadow);

}

.contactsb .HOO h1 {
    margin-top: 2.4rem;
    font-size: 2rem;
    font-family: 'Unbounded', sans-serif;
    color: black;
}

.contactsb .HOO p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    font-family: 'Unbounded', sans-serif;
}

.filter-btn {
    background-color: #eee;
    padding-top: 12rem;
    width: 100%;
    margin: auto;
    text-align: center;
}

.filter-btn .btn {
    width: 30%;
    border-radius: 5rem;
}

.selectionSB {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
    box-shadow: var(--box-shadow);
    justify-content: center;
    width: 0;
    margin: auto;
}

.selectionSB button {
    margin-left: 25%;
}

.selectionSB .header a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #002517;
    display: block;
    transition: 0.3s;
}

.selectionSB .header a:hover {
    color: #35605A;
}

.selectionSB .header .close {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 20px;
    margin-bottom: 20px;
}

.selectionSB .header {
    position: absolute;
    box-shadow: var(--box-shadow);
    margin-top: 0px;
    top: 0;
    max-height: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.selectionSB .header h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.9rem;
    color: #002517;

}

/* w */

.selectionSB nav {
    width: 90%;
    background: #d9d9d9;
    margin: 40px auto;
}

.selectionSB span {
    padding: 30px;
    background: var(--green);
    color: white;
    font-size: 2em;
    cursor: pointer;
    display: block;
}

.selectionSB span::after {
    float: right;
    right: 10%;
    content: "+";
}

.selectionSB .slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

.selectionSB .slide li {
    padding: 20px;
    font-size: 1.5rem;
}

/* Dropdown One */
.selectionSB #c {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.selectionSB #c:checked+.slide {
    height: 425px;
}

/* Dropdown Two */
.selectionSB #t {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.selectionSB #t:checked+.slide {
    height: 300px;
}

/* Dropdown Three */
.selectionSB #tr {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.selectionSB #tr:checked+.slide {
    height: 180px;
}

/* Dropdown Four */
.selectionSB #d {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.selectionSB #d:checked+.slide {
    height: 180px;
}

/* Dropdown Five */
.selectionSB #f {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.selectionSB #f:checked+.slide {
    height: 125px;
}

/* make this scale*/

.newsletter {
    padding: 6rem 2rem;
    background: url("/image/backgrounds/subscribe.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 20vh;
    text-align: center;
}

.newsletter h3 {
    font-size: 3rem;
    color: white;
}

.newsletter p {
    font-size: 1.5rem;
    color: whitesmoke;
    padding: 1rem 0;
}

.newsletter form {
    max-width: 60rem;
    height: 5rem;
    background: #fff;
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    margin: 1rem auto;
    box-shadow: var(--box-shadow);
}

.newsletter form input[type="email"] {
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    font-size: 1.6rem;
    color: var(--green);
    text-transform: none;
}

.newsletter form input[type="submit"] {
    height: 100%;
    width: 17rem;
    font-size: 1.7rem;
    color: white;
    background: var(--green);
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover {
    background: var(--slate);
}

.vehicles .vehicles-slider {
    padding-bottom: 5rem;
}

.vehicles .vehicles-slider .box {
    text-align: center;
}

.vehicles .vehicles-slider .box img {
    width: 100%;
    transform: scale(.8);
    opacity: .5;
}

.vehicles .vehicles-slider .box .content {
    padding-top: 1rem;
    transform: scale(0);
}

.vehicles .vehicles-slider .swiper-slide-active .content {
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img {
    transform: scale(1);
    opacity: 1;
}

.vehicles .vehicles-slider .box .content h3 {
    font-size: 2.5rem;
    color: var(--green);
}

.vehicles .vehicles-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--slate);
    padding: 1rem 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span {
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p {
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.vehicles .vehicles-slider .box .content span {
    font-size: 1rem;
    color: var(--slate);
    padding: 0 .5rem;
}

.swiper-pagination-bullet-active {
    background: var(--slate);
}

.loan {
    background: url("/image/backgrounds/subscribe.png") no-repeat;
    padding-bottom: 10rem;
    background-size: cover;
    background-position: center;
}

.loan .heading {
    color: #fff;
}

.loan .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.loan .row form {
    padding: 2rem;
    flex: 1 1 42rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: left;
    border-radius: .5rem;
    background: #fff;
}

.loan .row form .formHeader {
    text-align: center;
}

.loan .row form .submitButton {
    text-align: center;
}

.loan .row form h3 {
    font-size: 3rem;
    color: var(--green);
    padding-bottom: 1rem;
}

.loan .row form label {
    font-size: 1.75rem;
    color: var(--green);
    padding-left: .25rem;
}

.loan .row form .box {
    width: 100%;
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border: var(--border);
    margin: .7rem 0;
}

.reviews {
    padding-bottom: 2rem;
    background-color: #eee;
}

.reviews .review-slider {
    padding-bottom: 3rem;
}

.reviews .review-slider .box {
    text-align: center;
    padding: 2rem;
    margin: 2rem 0;
    opacity: .4;
    transform: scale(.9);
}

.reviews .review-slider .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}

.reviews .review-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .review-slider .box .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
}

.reviews .review-slider .box .content h3 {
    color: var(--green);
    font-size: 2.2rem;
    padding-bottom: .5rem;
}

.reviews .review-slider .box .content .stars i {
    color: var(--yellow);
    font-size: 1.7rem;
}

.aboutUs {
    background: url("/image/backgrounds/aboutUs_bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 20vh;
    padding-bottom: 6rem;
}

.aboutUs .heading {
    color: #fff;
}

.aboutUs .row .box {
    background-color: #fff;
    padding: 5rem;
    margin: auto;
    width: 100%;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 3rem;
    margin-bottom: 2rem;
}

.aboutUs .row .content-box {
    outline-color: var(--slate);
    outline-style: ridge;
    outline-width: 0.5rem;
    outline-offset: -1rem;
    -moz-outline-radius: 3rem;
    -webkit-outline-radius: 3rem;
}

.aboutUs .row .box:hover {
    transform: scale(1.01);
}



.selection {
    background: #eee;
}

.selection .row {
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    background-color: #fff;
}

.selection .row h3 {
    font-size: 3rem;
    color: var(--green);
    padding-bottom: 1rem;
}

.selection #filters input {
    display: none;
}

.selection .row #filters div {
    padding-bottom: 2rem;
}

.listings {
    background: #eee;
    padding-bottom: 10rem;
}

.listings .row {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    width: 100%;
}

.listings .box {
    background-color: #fff;
    text-align: center;
    padding-bottom: 5rem;
    margin: auto;
    width: 30%;
}

.listings .box img {
    width: 75%;
    transform: scale(.8);
}

.listings .box .content {
    padding-top: 1rem;
}

.listings .box .content h3 {
    font-size: 2.5rem;
    color: var(--green);
}

.listings .box .content .price {
    font-size: 2.2rem;
    color: var(--slate);
    padding: 1rem 0;
    font-weight: bolder;
}

.listings .box .content .price span {
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: normal;
}

.listings .box .content p {
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.listings .box .content span {
    font-size: 1rem;
    color: var(--slate);
    padding: 0 .5rem;
}

.carInfo {
    background-color: #eee;
    padding-top: 15rem;

}

.carInfo .content {
    background-color: #fff;
}

.carInfo .content .carTitle {
    font-size: 4rem;
    padding-top: 6rem;
    padding-left: 5rem;
    position: absolute;
}

.carInfo .content .carPrice {
    font-size: 4rem;
    padding-top: 6rem;
    padding-left: 145rem;
}

.carInfo .content .carTitle2 {
    font-size: 2rem;
    padding-top: .75rem;
    padding-left: 5.3rem;

    position: relative;
}

.carInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
}

.carInfo img {
    padding-left: 23rem;

}

.carInfo .content {
    background-color: #fff;
    text-align: left;
    padding-bottom: 5rem;
    margin: auto;
    width: 100%;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.carInfo .content .row .box h1 {
    font-size: 2rem;

}

.carInfo .content .row .box .monthly {
    margin-left: 1rem;
    background-color: var(--green);
}

.carInfo .specs {
    background-color: #fff;
    text-align: left;
    padding-bottom: 5rem;
    margin: auto;
    width: 100%;
    border: var(--border);
    box-shadow: var(--box-shadow);

}

.carInfo .specs .specsHeader {
    font-size: 2.5rem;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 1rem;

}

.carInfo .specs .tb {
    column-count: 3;
    position: relative;
    padding-bottom: 6.5rem;

}


.carInfo .specs .tb h3 {
    padding-top: 5rem;
    padding-left: 7rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(75, 75, 75);
}

hr.solid {
    border-top: 3px solid #bbb;
    width: 94%;
    margin: auto;

}


.carInfo .specs .description {
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-left: 4.5rem;
    padding-bottom: 2rem;



}

.carInfo .specs h3 {
    padding-left: 4.5rem;
    padding-right: 5rem;
    font-size: 1.5rem;
    line-height: 3rem;
}



.representatives {
    background-color: #eee;
    padding-top: 15rem;
    background: url("/image/backgrounds/subscribe.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 20vh;
    text-align: center;
}

.representatives h1 {
    color: #ffffff;
    font-size: 7rem;
}

.representatives p {
    color: black;
    font-size: 2rem;
}

.representatives .representatives-slider {
    padding-bottom: 15rem;
    padding-top: 3rem;

}

.representatives .representatives-slider .box {
    background-color: #fff;
    text-align: center;
    padding: 2rem;
    margin: 2rem 0;
    opacity: .8;
    transform: scale(.9);
    filter: blur(2px);
}

.representatives .representatives-slider .swiper-slide-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;

}

.representatives span {
    color: #002517;
    font-size: 4.5rem;
    padding-bottom: .5rem;
}

.representatives .representatives-slider .box p {
    padding-bottom: 1rem;
}

.representatives .representatives-slider .box .firstElement {
    padding-top: 1rem;
}

.representatives .representatives-slider .box img {
    height: 40rem;
    width: 40rem;
    border-radius: 40%;
    object-fit: cover;
    border: .3rem solid #002517;
}

.contact {
    padding-top: 10rem;

}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 4rem;
}

.contact .hoursHeading {
    font-size: 2rem;
}

.contact p {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--green);
}



.contact .row form {
    padding: 2rem;
    flex: 1 1 42rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    border-radius: .5rem;
    height: 70rem;
}

.contact .row form h3 {
    font-size: 3rem;
    color: var(--green);
    padding-bottom: 1rem;
}

.contact .row form .box {
    width: 100%;
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border: var(--border);
    margin: .7rem 0;
    height: 10rem;
}

.contact .row form textarea {
    height: 40rem;

}

.contact .row form .btn {
    margin-top: 3rem;
}



.footer {
    background: var(--green);
    padding-bottom: 1rem;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box {
    text-align: center;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
    color: rgb(185, 185, 185);
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #fff;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .theme {
    text-align: center;
    padding: 1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color: #fff;
}

@media (max-width:2000px) {
    .representatives .representatives-slider .box img {
        height: 35rem;
        width: 80%;
    }
}

@media (max-width:1464px) {
    .listings .box {
        width: 45%;
    }

    .representatives span {
        color: var(--green);
        font-size: 3rem;
        padding-bottom: .5rem;
    }

    .representatives .representatives-slider .box img {
        height: 30rem;
        width: 80%;
    }
}

@media (max-width:1200px) {
    .listings .box {
        width: 80%;
    }

    .representatives span {
        color: var(--green);
        font-size: 3rem;
        padding-bottom: .5rem;
    }

    .representatives .representatives-slider .box img {
        height: 20rem;
        width: 70%;
    }

    #aidenname {
        font-size: 3.5rem;
    }

}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .header.active {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .listings .box {
        width: 70%;
    }

    .representatives .representatives-slider .box img {
        height: 30rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    #login-btn .btn {
        display: none;
    }

    #login-btn i {
        display: block;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        margin: 2rem;
        display: block;
        font-size: 2rem;
    }

    .listings .box {
        width: 90%;
    }

    .representatives .representatives-slider .box img {
        height: 60%;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .listings .box {
        width: 90%;
    }

    .representatives .representatives-slider .box img {
        height: 30rem;
    }

    .representatives h1 {
        color: #ffffff;
        font-size: 5rem;
    }
}