:root {
    --slate: #35605A;
    --green: #002517;
    --light-color: #666;
    --yellow: #E88321;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .1);
}
    
    .wwdsa {
        margin-top: 10rem;
    }

    .selectionSB {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #eee;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 2;
        box-shadow: var(--box-shadow)
    }

    .selectionSB .header a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #002517;
        display: block;
        transition: 0.3s;
    }

    .selectionSB .header a:hover {
        color: #35605A;
    }

    .selectionSB .header .close {
        position: absolute;
        top: 6px;
        right: 6px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .selectionSB .header {
        position: absolute;
        box-shadow: var(--box-shadow);
        margin-top: 0px;
        top: 0;
        max-height: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .selectionSB .header h2 {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 1.9rem;
        color: #002517;

    }

    /* w */

    .selectionSB nav {
        width: 300px;
        background: #d9d9d9;
        margin: 40px auto;
    }

    .selectionSB span {
        padding: 30px;
        background: var(--green);
        color: white;
        font-size: 2em;
        cursor: pointer;
        display: block;
    }

    .selectionSB span::after {
        float: right;
        right: 10%;
        content: "+";
    }

    .selectionSB .slide {
        clear: both;
        width: 100%;
        height: 0px;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
    }

    .selectionSB .slide li {
        padding: 20px;
        font-size: 1.5rem;
    }

    .selectionSB #touch {
        position: absolute;
        opacity: 0;
        height: 0px;
    }

    .selectionSB #touch:checked+.color {
        height: 425px;
    }

    .selectionSB #touch:checked+.type {
        height: 425px;
    }

    /* make this scale*/